In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests as r
import json as js

# Importing the Data from json link

In [ ]:
url1='https://data.covid19india.org/v4/min/data.min.json'

In [ ]:
url2='https://data.covid19india.org/v4/min/timeseries.min.json'

In [ ]:
data1=r.get(url1).text

In [ ]:
dict1=js.loads(data1)

In [ ]:
pd.DataFrame.from_dict(dict1)

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,PY,RJ,SK,TG,TN,TR,TT,UP,UT,WB
delta,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 385, 'deceased': 4, 'recovered':...","{'confirmed': 1, 'recovered': 9, 'tested': 334...","{'confirmed': 212, 'deceased': 1, 'recovered':...","{'confirmed': 8, 'recovered': 9, 'tested': 226...","{'confirmed': 5, 'recovered': 3, 'tested': 140...","{'confirmed': 32, 'deceased': 1, 'recovered': ...","{'confirmed': 45, 'recovered': 46, 'tested': 5...","{'recovered': 1, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 23, 'recovered': 53, 'tested': 2...",...,"{'confirmed': 38, 'recovered': 45, 'tested': 2...","{'confirmed': 2, 'recovered': 2, 'tested': 134...","{'confirmed': 21, 'deceased': 1, 'recovered': ...","{'confirmed': 121, 'deceased': 1, 'recovered':...","{'confirmed': 1009, 'deceased': 19, 'recovered...","{'confirmed': 12, 'recovered': 2, 'tested': 35...","{'confirmed': 12907, 'deceased': 251, 'other':...","{'confirmed': 6, 'recovered': 6, 'tested': 161...","{'confirmed': 5, 'recovered': 9, 'tested': 952...","{'confirmed': 914, 'deceased': 15, 'recovered'..."
delta21_14,{'confirmed': 9},{'confirmed': 3220},{'confirmed': 87},{'confirmed': 1499},{'confirmed': 30},{'confirmed': 23},{'confirmed': 124},{'confirmed': 195},{'confirmed': 4},{'confirmed': 409},...,{'confirmed': 343},{'confirmed': 31},{'confirmed': 82},{'confirmed': 1068},{'confirmed': 8827},{'confirmed': 49},{'confirmed': 109755},{'confirmed': 74},{'confirmed': 88},{'confirmed': 4193}
delta7,"{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'confirmed': 2873, 'deceased': 30, 'recovered...","{'confirmed': 66, 'recovered': 97, 'tested': 4...","{'confirmed': 2056, 'deceased': 24, 'recovered...","{'confirmed': 40, 'recovered': 31, 'tested': 1...","{'confirmed': 28, 'recovered': 20, 'tested': 1...","{'confirmed': 205, 'deceased': 5, 'recovered':...","{'confirmed': 267, 'recovered': 239, 'tested':...","{'recovered': 2, 'vaccinated1': 2802, 'vaccina...","{'confirmed': 222, 'deceased': 6, 'recovered':...",...,"{'confirmed': 278, 'recovered': 315, 'tested':...","{'confirmed': 27, 'recovered': 26, 'tested': 9...","{'confirmed': 79, 'deceased': 2, 'other': 6, '...","{'confirmed': 1189, 'deceased': 9, 'recovered'...","{'confirmed': 7407, 'deceased': 97, 'recovered...","{'confirmed': 87, 'recovered': 62, 'tested': 2...","{'confirmed': 96071, 'deceased': 3727, 'other'...","{'confirmed': 63, 'deceased': 1, 'recovered': ...","{'confirmed': 75, 'deceased': 1, 'other': 12, ...","{'confirmed': 6453, 'deceased': 86, 'recovered..."
districts,"{'Nicobars': {'delta7': {'vaccinated1': 62, 'v...","{'Anantapur': {'delta': {'confirmed': 4, 'reco...","{'Anjaw': {'delta7': {'vaccinated1': 45, 'vacc...","{'Baksa': {'delta': {'vaccinated1': 39, 'vacci...","{'Araria': {'delta': {'vaccinated1': 5177, 'va...","{'Chandigarh': {'delta': {'confirmed': 5, 'rec...","{'Balod': {'delta': {'vaccinated1': 523, 'vacc...","{'Delhi': {'delta': {'confirmed': 45, 'recover...",{'Dadra and Nagar Haveli': {'delta': {'vaccina...,"{'North Goa': {'delta': {'vaccinated1': 1070, ...",...,"{'Karaikal': {'delta': {'confirmed': 6, 'recov...","{'Ajmer': {'delta': {'vaccinated1': 110, 'vacc...",{'East Sikkim': {'delta7': {'vaccinated1': 528...,"{'Adilabad': {'delta': {'vaccinated1': 165, 'v...",{'Airport Quarantine': {'delta21_14': {'confir...,"{'Dhalai': {'delta': {'vaccinated1': 5, 'vacci...",NaN,"{'Agra': {'delta': {'vaccinated1': 178, 'vacci...","{'Almora': {'delta': {'vaccinated1': 37, 'vacc...","{'Alipurduar': {'delta': {'confirmed': 4, 'rec..."
meta,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...",...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1..."
total,"{'confirmed': 7651, 'deceased': 129, 'recovere...","{'confirmed': 2066450, 'deceased': 14373, 'rec...","{'confirmed': 55155, 'deceased': 280, 'recover...","{'confirmed': 610645, 'deceased': 5997, 'other...","{'confirmed': 726098, 'deceased': 9661, 'other...","{'confirmed': 65351, 'deceased': 820, 'recover...","{'confirmed': 1006052, 'deceased': 13577, 'rec...","{'confirmed': 1439870, 'deceased': 25091, 'rec...","{'confirmed': 10681, 'deceased': 4, 'other': 3...","{'confirmed': 178108, 'deceased': 3364, 'recov...",...,"{'confirmed': 128013, 'deceased': 1857, 'recov...","{'confirmed': 954429, 'deceased': 8954, 'recov...","{'confirmed': 31979, 'deceased': 396, 'other':...","{'confirmed': 671463, 'deceased': 3956, 'recov...","{'confirmed': 2702623, 'deceased': 36116, 'rec...","{'confirmed': 84468, 'deceased': 813, 'other':...","{'confirmed': 34285612, 'deceased': 458470, 'o...","{'confirmed': 1710158, 'deceased': 22900, 'rec...","{'confirmed': 343896, 'deceased': 7400, 'other...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [ ]:
dfm=pd.DataFrame.from_dict(dict1).drop('districts')

In [ ]:
dict12=dfm.to_dict()

In [ ]:
for state in list(dict12):
  pd.DataFrame.from_dict(dict12[state]).to_csv('/content/State data/{}.csv'.format(state))

# Converting the json file to DataFrame

In [ ]:
#District dataframe is created
districtdf=pd.DataFrame()
for s in list(dict1):
  if s!='TT':
    for i in list(dict1[s]['districts']):
      dm1=pd.DataFrame.from_dict(dict1[s]['districts'][i])
      dm2=dm1['state']=s
      dm3=dm1['district']=i
      districtdf=districtdf.append(dm1)

In [ ]:
# State dataframe is created
statedf=pd.DataFrame()
for s in list(dict12):
  sdm1=pd.DataFrame.from_dict(dict12[s])
  sdm2=sdm1['state']=s
  statedf=statedf.append(sdm1)

# Statedf EDA and data cleaning

In [ ]:
statedf[statedf['test type']=='population']

In [ ]:
ch=statedf[statedf['test type']=='population']['total']=statedf[statedf['test type']=='population']['total'].fillna(statedf[statedf['test type']=='population']['meta'],inplace=True)

In [ ]:
statedf.head(10)

In [ ]:
statedf['total'] = np.where(statedf.meta.str.isnumeric(), statedf.meta, statedf.total)

In [ ]:
statedf.drop('meta',axis=1,inplace=True)

In [ ]:
statedf[statedf['test type']=='population']

In [ ]:
statedf.columns = [c.replace(' ', '_') for c in statedf.columns]
statedf.columns

In [ ]:
statedf.drop(statedf[statedf.test_type.isin(["date", "last_updated",'notes'])].index,inplace=True)

In [ ]:
statedf.head(50)

In [ ]:
statedf.fillna(0,inplace=True)

In [ ]:
statedf.drop(statedf[statedf['test_type'] == 0].index, inplace = True)

In [ ]:
sdfn=statedf[statedf.test_type.isin(['tested','population'])]

In [ ]:
sdfng=sdfn.groupby(['state','test_type'])

In [ ]:
sdfng.first()['ctr']=[]

# working with Timeseries dataset

In [ ]:
data2=r.get(url2).text

In [ ]:
dict2=js.loads(data2)

In [ ]:
# Creating dataframe of timeseries data set
datedf=pd.DataFrame()
for state in list(dict2):
  for i in list(dict2[state]['dates']):
    ddff1=pd.DataFrame(dict2[state]['dates'][i])
    ddff2=ddff1['date']=i
    ddff3=ddff1['state']=state
    datedf=datedf.append(ddff1)

# EDA and Data Cleaning of dataframe datedf

In [ ]:
df_date= df_date[['date',"state",'delta','delta7','total','Status']]

In [ ]:
df_date.set_index(['date'], inplace = True)

In [ ]:
df_date.reset_index(['date'], inplace = True)

In [ ]:
df_date.info()

In [ ]:
df_date["date"] = pd.to_datetime(df_date["date"])

In [ ]:
df_date['delta'].fillna(0, inplace=True)

In [ ]:
df_date['delta7'].fillna(0, inplace=True)